body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    align-items: center;
    background-image: url("joyce-mccown-IG96K_HiDk0-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    text-decoration-color: #000000;
    
}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
    font-size: 20px;

}

input[type="file"] {
    border: none;
    background-color: #e600ff00;
    padding: 10px;
    width: 8%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

input[type="file"]::file-selector-button {
    display: none;
}

input[type="file"]::before {
    content: 'Select an image';
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="file"]:hover::before {
    color: #de0303;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.result-container {
    display: none;
    margin-top: 30px;
    text-align: center;
}

.loading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.prediction {
    font-size: 24px;
    margin-bottom: 20px;
}

.image-preview img {
    max-width: 100%;
    max-height: 300px;
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.result-image {
    max-width: 400px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 500px;
    padding: 100px;
    background-color: #757272c4;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #69373700;
    border: 1px solid #ccc;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
    width: auto;
    border-radius: 10px;
    backdrop-filter: blur(100px);
}

#n {
    color: #cd0000;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 28%;
    width: 50%;
    height: 50px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff00;
    border-radius: 10px;
    backdrop-filter: blur(100px);

}

.main {
    display: flex;
    justify-content: center;
}

.image_ {
    width: 40%;
    /* padding: 5px; */
    padding-left: -20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
    /* backdrop-filter: blur(20px); */
    background-color: #757272c4;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.image_file {
    display: flex;
    justify-content: center;
    max-height: 1000px;
}

.image_name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    text-decoration-color: #000000;
    
}

#xray_img {
    width: 50%;
    height: 100%;
    /* border-radius: 10px; */
    backdrop-filter: blur(100px);
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#head2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #070707;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 2px;

}

.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 10px; */
    background-color: #00000000;
    border: 1px solid #cccccc39;
    
    border-radius: 10px;
    

}

.feedback_{
    display: flex;
    justify-content: space-between;
}

.feedback a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    border-radius: 10px;
    border: 1px solid #cccccc00;
    padding: 10px;
    margin: 10px;

}

.feedback a:hover{
    background-color: #cccccc6e;
}
#home_{
    font-weight: bold;
    font-size: 20px;
    color: #000000;

}

